.Chat-main
  .Chat-main__group-info
    .Group-title
      .Group-title__main
        test
      .Group-title__sub
        Member: mesa
    .Edit
      = link_to "#", class: "Edit__btn" do
        Edit
  .Chat-main__message-list
  .Chat-main__message-form
