.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        name
      .Top-items__icons
        = link_to "#", class: "Top-items__icons--edit" do
          = icon("far", "edit")
        = link_to "#", class: "Top-items__icons--cog" do
          = icon("fas", "cog")
  .Side-bar__group-list
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません

