.Side-bar
  .Side-bar__user-name
    .Top-items
      .Top-items__name
        name
      .Top-items__icons
        <i class='far fa-edit'></i>
        <i class='fas fa-cog'></i>
  .Side-bar__group-list
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません
    .group
      .group__name
        techcamp      
      .group__message
        またメッセージがありません

